<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Data</title>
</head>
<body>
    <!-- 展示表格 -->
    {% for table_html in tables %}
        <h1>Data Table</h1>
        {{ table_html | safe }}
    {% endfor %}

    <!-- 展示图片 -->
    {% for img_data in images %}
        <h1>Plot Image</h1>
        <img src="data:image/png;base64,{{ img_data }}" alt="Plot Image">
    {% endfor %}
</body>
</html>
